.Footer {
   position: fixed;
   bottom: 50px;
   animation: fadeUp 1s ease-in;

   a {
      color: white;
      font-size: 18px;
      text-decoration: none;
   }

   span {
      color: rgb(200, 0, 0);
      font-size: 28px;
   }

   @keyframes fadeUp {
      from {
         bottom: -50px;
      }
      to {
         bottom: 50px;
      }
   }

   @media only screen and (max-width: 580px) {
      a {
         font-size: 16px;
         font-weight: bold;
      }
      span {
         font-size: 22px;
      }
   }
}